@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    /* background-image: url('images/background.png'); */
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 240px;
    cursor: pointer;
}

.cart {
    width: 50px;
    cursor: pointer;
}

.search {
    width: 30px;
    cursor: pointer;
    margin-right: 120px;
}

nav {
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 10;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #474747;
}

.content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #595959;
}

.content {
    margin-left: 3%;
    margin-top: 10%;
}

.content .btn {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-top: 40px;
    background: linear-gradient(45deg, #ba7d5a, #ba7d5a);
    border-radius: 25px;
    padding: 10px 30px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.feature-img {
    height: 87%;
    position: absolute;
    bottom: 0;
    right: 0px;
}

.linebottom {
    /* transform: rotate(-90deg); */
    position: absolute;
    left: 100px;
    width: 500px;
    bottom: 30px;
}